@import 'var.scss';

.about{
  max-width: 47%;
  margin: 0 auto;
  &__text{
    margin: 5% 0;

    word-break: break-all;

    color: $secondary-color;

    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 300;

  }
  &__image{
    min-width: 365px;
    max-width:46%;
    margin: 1%;

  }
}
