.articleDetails{
  list-style: none;

  &__date{
    display: inline;

    padding: 0 1%;

    cursor: pointer;
    text-transform: uppercase;

    color: $primary-color;

    font-family: $font-stack1;
    font-size: 12px;

  }
  &__author{
    display: inline;

    padding: 0 1%;

    cursor: pointer;
    text-transform: uppercase;

    color: $primary-color;

    font-family: $font-stack1;
    font-size: 12px;

  }
  &__comments{
    display: inline;

    padding: 0 1%;

    cursor: pointer;
    text-transform: uppercase;

    color: $primary-color;

    font-family: $font-stack1;
    font-size: 12px;

  }
}
