.background{
  position: fixed;
  z-index: 5;
  right: -80px;
  bottom: -80px;

  display: inline-block;

  max-width: 40%;

  &--team{
    right: auto;
    bottom: auto;
    bottom: -300px;
    left: -150px;

  }
}
