@import 'var.scss';

.button{
  border-radius: 50px;
  border: 1px solid #cbab68;
  padding: 15px 47px;
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  color: #cbab68;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s ease;

  &--home{
    margin-top: 1.75%;
    &:hover{
      border: 3px solid $primary-color;
    }
  }
}
