@import 'var.scss';

.chapter {
  position: absolute;
  z-index: 4;
  top: 3%;
  left: 50%;

  transform: translateX(-50%);

  &__number{
    z-index: 1;

    display: inline-block;

    color: $primary-color;

    font-family: $font-stack2;
    font-weight: 30px;
    font-weight: 300;

  }
  &__box{
    width: 63px;
    height: 63px;

    border: 1px solid $primary-color;
  }
}
