@import 'var.scss';

.chapter {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

  &__number{
    font-family: $font-stack2;
    font-weight: 30px;
    color: $primary-color;
    font-weight: 300;
    z-index: 1;
    display: inline-block;

  }
  &__box{
    width: 63px;
    height: 63px;
    border: 1px solid $primary-color;
  }
}
