@import 'var.scss';

.label{
  position: fixed;
  z-index: 2;
  bottom: 15%;
  left: 63%;

  display: inline-block;

  width: 347px; // this is the width designated in the comp
  height: 100px;// this is the height designated in the comp
  // transition: all 0.6s cubic-bezier(0.3, 0.8, 0.9, 1);
  // transform: translateZ(0);  // silky smooth 60fps

  background-color: #000000;
  &--active{
    bottom: 5%;
    left: 35%;
  }
}
