@import 'var.scss';

.label{
  z-index: 2; // why wont this float about the team background that
              //that has a z-index of 1?

  display: inline-block;

  width: 347px; // this is the width designated in the comp
  height: 100px;// this is the height designated in the comp

  background-color: #000000;

  &__logo{
    display: inline-block;

    margin: 0;

    color: $primary-color;

    font-family: $font-stack2;
    font-size: 60px;
    font-weight: 300;
  }
  &__name{
    display: inline-block;

    margin: 0;

    color: #8d8d8d;

    font-family: $font-stack1;
    font-size: 24px;
    font-weight: 300;
  }
  &__role{
    display: inline-block;

    margin: 0;

    color: $primary-color;

    font-family: $font-stack1;
    font-size: 16px;
    font-weight: 300;
  }
}
