@import "var.scss";
.legal{
  text-transform: capitalize;

  color: #fff;

  font-family: $font-stack1;
  font-size: 12px;
  font-weight: 300;
  &--blogFooter{
    position: static;

    margin: 0 auto;
    padding-bottom: 5%;

    text-align: center;
    text-transform: uppercase;

    color: #969696;

    font-family: $font-stack1;
    font-size: 14px;
    font-weight: 300;
  }
}
