@import 'var.scss';


.logo{
  position: fixed;
  top: 75px;
  left: 75px;

  width: 37px;
  height: 37px;

  transition: all 0.6s ease .2s;

  &--nav{
    position: fixed;
    top: 75px;
    right: 600px;
    left: auto;

    opacity: 0;
  }

  &--active{
    opacity: 1;
  }

  &--teamLabel{
    position: static;

    display: inline-block;

    margin: 4%;
  }
  &--blogFooter{
    position: relative;;
    left: 50%;
    // transform: translateX(-50%);

  }

    &__text{
      margin: 0;

      color: $primary-color;

      font-family: $font-stack2;
      font-size: 30px;
      &--teamLabel{
          margin: 0;

          color: $primary-color;

          font-family: $font-stack2;
          font-size: 60px;
          font-weight: 300;
      }
    }
}
