@import 'var.scss';


.menuButton{
  cursor: pointer;
  width: 37px;
  height: 37px;
  position: fixed;
  top: 75px;
  right: 75px;
  border: 1px solid $primary-color;
  z-index: 20;

  &__icon{
    width: 50%;
    height: 50%;
    margin: 25%;
  }
}
