@import 'var.scss';


.menuButton{
  position: fixed;
  z-index: 20;
  top: 75px;
  right: 75px;

  width: 37px;
  height: 37px;

  cursor: pointer;

  border: 1px solid $primary-color;

  &__icon{
    width: 50%;
    height: 50%;
    margin: 25%;
  }
}
