@import 'var.scss';
.nav{
  position: fixed;
  right:0;
  top: 0;
  height: 100vh;
  z-index: 10;
  width: 40%;
  background: url('../img/navBG.png') no-repeat center center;
  overflow: scroll;
  border-bottom: 4px solid $primary-color;


}
