.socialMedia{
  max-width: 17%;
  min-width: 110px;
  min-height: 20px;
  // border: 2px solid white;
  text-align: center;
  display: inline-block;

  &__link{
    display: inline-block;
    max-width: 25%;
    width: 15px;
    height: 15px;
    margin: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    &--behance{
      background-image: url('../img/behance.svg');
    }
    &--dribbble{
      background-image:  url('../img/dribbble.svg');
    }
    &--facebook{
      background-image:  url('../img/facebook.svg');
    }
    &--twitter{
      background-image:  url('../img/twitter.svg');
    }
  }
}
