.logo {
  width: 37px;
  height: 37px;
  position: fixed;
  top: 75px;
  left: 75px;
  transition: all 0.6s ease .2s; }
  .logo--nav {
    position: fixed;
    top: 75px;
    right: 600px;
    left: auto;
    opacity: 0; }
  .logo--active {
    opacity: 1; }
  .logo__text {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #cbab68;
    margin: 0; }

.welcome {
  max-width: 41%;
  margin-left: 13%;
  margin-top: 13%;
  max-height: 26%;
  display: inline-block; }
  .welcome__heading {
    font-family: "Lato", sans-serif;
    font-size: 100px;
    color: #cbab68;
    margin: 0; }
  .welcome__subHeading {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 30px;
    color: #8d8d8d; }
  .welcome__message {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #8d8d8d; }

.button {
  border-radius: 50px;
  border: 1px solid #cbab68;
  padding: 15px 47px;
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  color: #cbab68;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s ease; }
  .button--home {
    margin-top: 1.75%; }
    .button--home:hover {
      border: 3px solid #cbab68; }

.menuButton {
  cursor: pointer;
  width: 37px;
  height: 37px;
  position: fixed;
  top: 75px;
  right: 75px;
  border: 1px solid #cbab68;
  z-index: 20; }
  .menuButton__icon {
    width: 50%;
    height: 50%;
    margin: 25%; }

.header {
  max-width: 100%;
  width: 100%; }

.nav {
  position: fixed;
  top: 0;
  right: -40vw;
  height: 100vh;
  z-index: 10;
  width: 40vw;
  background: url("../img/navBG.png") no-repeat center center;
  overflow: scroll;
  border-bottom: 4px solid #cbab68;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.3, 0.8, 0.9, 1);
  transform: translateZ(0); }
  .nav--active {
    opacity: 1;
    right: 0; }

.navItemWrapper {
  max-width: 80%;
  min-height: 520px;
  margin: 0 auto;
  margin-top: 25%;
  overflow: scroll; }

.navItem {
  text-decoration: none;
  max-width: 23%;
  min-width: 152px;
  min-height: 157px;
  text-align: center;
  display: inline-block;
  margin: 1.3%;
  padding-top: 17%;
  background-position: center 35%;
  background-size: 25% auto;
  background-repeat: no-repeat;
  transition: all 0.6s ease .2s;
  opacity: 0; }
  .navItem--active {
    opacity: 1; }
  .navItem:hover {
    border: 1px solid #cbab68; }
  .navItem--home {
    background-image: url("../img/notes.svg"); }
  .navItem--aboutUs {
    background-image: url("../img/timelapse.svg"); }
  .navItem--team {
    background-image: url("../img/user.svg"); }
  .navItem--services {
    background-image: url("../img/reminders.svg"); }
  .navItem--portfolio {
    background-image: url("../img/gallery.svg"); }
  .navItem--blog {
    background-image: url("../img/notepad.svg"); }
  .navItem--careers {
    background-image: url("../img/business.svg"); }
  .navItem--contact {
    background-image: url("../img/unread-mail.svg"); }
  .navItem__chapter {
    font-family: "Merriweather", serif;
    font-size: 16px;
    color: #cbab68;
    font-weight: 300; }
  .navItem__page {
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff; }

.socialMedia {
  max-width: 17%;
  min-width: 110px;
  min-height: 20px;
  text-align: center;
  display: inline-block; }
  .socialMedia__link {
    display: inline-block;
    max-width: 25%;
    width: 15px;
    height: 15px;
    margin: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; }
    .socialMedia__link--behance {
      background-image: url("../img/behance.svg"); }
    .socialMedia__link--dribbble {
      background-image: url("../img/dribbble.svg"); }
    .socialMedia__link--facebook {
      background-image: url("../img/facebook.svg"); }
    .socialMedia__link--twitter {
      background-image: url("../img/twitter.svg"); }

.legal {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  color: #fff; }

.footer {
  margin: 0;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }

.background {
  display: inline-block;
  position: fixed;
  max-width: 40%;
  bottom: -80px;
  right: -80px;
  z-index: 5; }

.teamRoleList {
  max-width: 40%;
  min-width: 445px;
  height: 500px;
  display: inline-block; }
  .teamRoleList__item {
    width: 160px;
    max-width: 50%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: text-top; }

.teamRole {
  display: inline-block;
  max-width: 50%; }
  .teamRole__heading {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #cbab68;
    list-style: none; }
  .teamRole__name {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #969696;
    list-style: none; }
    .teamRole__name:hover {
      color: #cbab68; }

.teamHeading {
  margin-left: 13%;
  margin-top: 13%;
  text-align: left; }
  .teamHeading__main {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #cbab68;
    font-size: 100px;
    margin: 0; }
  .teamHeading__sub {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 30px;
    color: #969696;
    margin: 0; }

.teamBackground {
  display: inline-block;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 4px; }

.label {
  background-color: #000000;
  width: 347px;
  height: 100px;
  display: inline-block;
  z-index: 2; }
  .label__logo {
    font-family: "Merriweather", serif;
    font-size: 60px;
    color: #cbab68;
    font-weight: 300;
    display: inline-block;
    margin: 0; }
  .label__name {
    margin: 0;
    display: inline-block;
    color: #8d8d8d;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 300; }
  .label__role {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    display: inline-block;
    color: #cbab68; }

.chapter {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4; }
  .chapter__number {
    font-family: "Merriweather", serif;
    font-weight: 30px;
    color: #cbab68;
    font-weight: 300;
    z-index: 1;
    display: inline-block; }
  .chapter__box {
    width: 63px;
    height: 63px;
    border: 1px solid #cbab68; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  border: 4px solid #cbab68;
  background-color: #282828;
  min-height: 100%; }

body {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
