

@import 'logo.scss';
@import 'welcome.scss';
@import 'button.scss';
@import 'menuButton.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'var.scss';
@import 'navItem.scss';

*, *:before, *:after {
  box-sizing: border-box;
}
//
html{
  border:4px solid $primary-color;
  background-color: #282828;
  min-height: 100%;
}
body{
padding: 0;
margin: 0;

}
