@import 'var.scss';


.teamHeading{
  margin-left: 13%;
  margin-top: 13%;
  text-align: left;
  &__main{
    font-family: $font-stack1;
    font-weight: 900;
    color: $primary-color;
    font-size: 100px;
    margin: 0;
  }
  &__sub{
    font-family: $font-stack2;
    font-weight: 300;
    font-size: 30px;
    color: #969696;
    margin: 0;
  }
}
