@import 'var.scss';

.teamRoleList {
  max-width: 40%;
  min-width: 445px;
  height: 500px;
  display: inline-block;

  &__item {
    width: 160px;
    max-width: 50%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: text-top;
  }
}

.teamRole {
  display: inline-block;
  max-width: 50%;

  &__heading {
    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 900;
    color: $primary-color;
    list-style: none;
  }

  &__name {
    font-family: $font-stack1;
    font-weight: 300;
    font-size: 18px;
    color: #969696;
    list-style: none;

    &:hover{
      color: $primary-color;

    }
  }
}
