@import 'var.scss';

.teamRoles {
  display: inline-block;

  margin-left: 13%;
  margin-top: 2%;
  min-width: 445px;
  max-width: 40%;
  height: 500px;

  &__item {
    display: inline-block;
    list-style: none;
    min-width: 160px;
    margin: 0 0 20px;
    padding: 0;
    width: 49%;
    vertical-align: text-top;
  }

  &__item-heading {
    color: $primary-color;
    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    padding: 0;
  }

  &__item-name {
    list-style: none;

    color: #969696;

    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 300;

    &:hover{
      color: $primary-color;

    }
  }
}
