@import 'var.scss';

.teamRoleList {
  display: inline-block;

  min-width: 445px;
  max-width: 40%;
  height: 500px;

  &__item {
    display: inline-block;

    width: 160px;
    max-width: 50%;

    vertical-align: text-top;
    white-space: nowrap;
  }
}

.teamRole {
  display: inline-block;

  max-width: 50%;

  &__heading {
    list-style: none;

    color: $primary-color;

    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 900;
  }

  &__name {
    list-style: none;

    color: #969696;

    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 300;

    &:hover{
      color: $primary-color;

    }
  }
}
