@import 'var.scss';


.welcome{
  display: inline-block;

  max-width: 41%;
  max-height: 26%;
  margin-top: 13%;
  margin-left: 13%;

  &__heading{
    margin: 0;

    color: $primary-color;

    font-family: $font-stack1;
    font-size: 100px;
  }
  &__subHeading{
    color: $secondary-color;

    font-family: $font-stack2;
    font-size: 30px;
    font-weight: 300;

  }
  &__message{
    color: $secondary-color;

    font-family: $font-stack1;
    font-size: 18px;
    font-weight: 300;
  }
}
